/.phpunit.result/
/cachegrind.out.*
/index.scip
/tests/Indexer/testdata/actual/
/vendor/
build/spc
build/buildroot/
build/downloads/
build/source/
build/scip-php.phar
build/scip-php-*
build/scip-php
build/tmp/
build/log/

# IDE and tool files
.idea/
.claude/
